.walletWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  font-size: 0.9em;
  gap: 5vh;
  margin-top: -3vh;
}

.walletButton {
  background: none;
  cursor: pointer;
  color: white;
  margin-top: -10vh;
  padding: 12px;
  border-radius: 15px;
  font-size: 0.7em;
}
